.HeaderWrapper {
    margin-top: -1.25rem;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(14, 22, 22);
}

.HeaderWrapper h2 {
    margin: 25px 15px 15px 15px;
    color: grey;
    display: flex;
    justify-content: center;
}

h2 img {
    border-radius: 15%;
}